html {
	overflow-y: scroll;
}
#background{
	background: rgba(134,178,219,1);
	background: -moz-linear-gradient(top, rgba(134,178,219,1) 0%, rgba(3,36,92,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(134,178,219,1)), color-stop(100%, rgba(3,36,92,1)));
	background: -webkit-linear-gradient(top, rgba(134,178,219,1) 0%, rgba(3,36,92,1) 100%);
	background: -o-linear-gradient(top, rgba(134,178,219,1) 0%, rgba(3,36,92,1) 100%);
	background: -ms-linear-gradient(top, rgba(134,178,219,1) 0%, rgba(3,36,92,1) 100%);
	background: linear-gradient(to bottom, rgba(134,178,219,1) 0%, rgba(3,36,92,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b2db', endColorstr='#03245c', GradientType=0 );
	width: 90%;
	margin: auto;
	color: #080B39;
}
#header{
	border-radius: 100px 30px 100px 30px;
	-moz-border-radius: 100px 30px 100px 30px;
	-webkit-border-radius: 100px 30px 100px 30px;
	border-left: 30px solid #080B39;
	border-right: 30px solid #080B39;
	margin-top: 1%;
	margin-bottom: 1%;
}
h1{
	padding-bottom: 2%;
}
h3{
	background: #337AB7;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
}
.content{
	padding: 1%;
	background: #c3d7ea;
	border: 5px solid #080B39;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.offerBox{
	border: 1px solid #080B39; 
	border-radius:30px 15px; 
	margin-bottom: 1%; 
	margin-top: 1%; 
	padding:2%;
	height: 230px;
	overflow: hidden;
}
.offerBox img {
	width: 180px;
	height: 135px;
}
.infoBox{
	border: 2px solid #080B39; 
	border-radius:30px 15px; 
	margin-bottom: 4%; 
	padding-left:1%;
	padding-right:1%;
	padding-top: 3%;
	padding-bottom: 3%;
	height: auto;
	width: 100%;
	overflow: hidden;
	
}
.fancyBorder2px{
	border: 2px solid #080B39; 
	border-radius:30px 15px; 
	margin-bottom: 3%; 
	margin-top: 3%; 
	padding:5%;
	overflow: hidden;
}
#fancyBtn{
	border: 2px solid #080B39; 
	border-radius:20px; 
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	margin-bottom: 2%; 
    margin-top: 2%; 
	width: 100%;
	overflow: hidden;
	background-color: #337AB7;
	color: white;
}

#fancyBtn:hover{
	background-color: white;
	color: #337AB7;
}

.img-wrapper-custom{
	display: inline-block;
	margin-top: 25px;
	position: relative;
}
.img-wrapper-custom img{
	display: block;
	max-width: 100%;
}
.txt-overlay-img {
    background: no-repeat 0 0 #000;
	color: white;
    opacity: 0.6;
	bottom:0px;
	left:15px;
	right:15px;
    position: absolute;
	border-radius: 10px;
	padding: 3%;
	height: 30%;
	
}

ul.main-nav li a{
	color: #080B39;
}

ul .subnav li {
	list-style-type: none;
	margin-left: -35px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

ul .subnav li a{
	display: inline-block;
	width: 210px;
	height: 20px;

}
ul .subnav li a:hover {
	background-color: #337AB7;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

.thumbnail {
    padding: 0;
}


.destinations{
	height: 380px;
	overflow-y: scroll;
	overflow-x: hidden;
	list-style-type: none;
	padding-left: 5px;
}

.agency-profiles {
	width: 100%;
}

.agency-profiles tr {
	border: 4px double #080B39; 
}
.agency-profiles tr td {
	padding: 15px;
}
.agency-profiles th {
	color: #080B39; 
}
.navbar-fixed-top + .content-container {
	margin-top: 70px;
}
.content-container {
	margin: 0 130px;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}