body{
	background: orange;
	width: 100%;
	margin: 0;
}
#wrapper{
	background: #E1DCC8;
	width: 90%;
	margin: auto;
	text-align: center;
}
header div img{
	border: 3px solid black;
	border-radius: 10px;
}
